@font-face {
  font-family: 'Favorit';
  font-weight: 400;
  src: local('Favorit'), local('Favorit-Regular'),
    url('../fonts/ABCFavorit-Regular.woff2') format('woff2'),
    url('../fonts/ABCFavorit-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Favorit';
  font-weight: 300;
  src: local('Favorit Light'), local('Favorit-Light'),
    url('../fonts/ABCFavorit-Light.woff2') format('woff2'),
    url('../fonts/ABCFavorit-Light.woff') format('woff');
}

@font-face {
  font-family: 'Favorit';
  font-weight: 700;
  src: local('Favorit Bold'), local('Favorit-Bold'),
    url('../fonts/ABCFavorit-Bold.woff2') format('woff2'),
    url('../fonts/ABCFavorit-Bold.woff') format('woff');
}

html {
  font-family: 'Favorit', sans-serif;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hero {
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero__content {
  max-width: 72rem;
}

.hero__title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: var(--lit-text-color);
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.gradientText {
  background-color: #E3170A;
  background-image:
    radial-gradient(at 67% 50%, #ff844f 0px, transparent 50%),
    radial-gradient(at 18% 7%, #EAC435 0px, transparent 50%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.hero__copy {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--lit-muted-text-color);
}

.hero__link {
  text-decoration: underline;
}

.hero__link:hover {
  text-decoration: none;
}

@media (min-width: 375px) {
  .hero__title {
    font-size: 3rem;
    line-height: 1;
  }
  
  .hero__copy {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 640px) {
  .hero {
    padding: 1.5rem;
  }

  .hero__title {
    font-size: 4.5rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
  
  .hero__copy {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding: 2rem;
  }

  .hero__title {
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 1.5rem;
  }
  
  .hero__copy {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

#googleLogin {
  min-height: 40px;
}

#discordLogin {
  margin-top: 1rem;
}